# EMPIRE — Cloudflare Migration
# No Telegram bots — migrated to Cloudflare Workers

# Cloudflare
CF_EMAIL=kingcamper0305@gmail.com
CF_API_KEY=cfk_79bE6kC5s8J4X9uubXB13eKv4Wc3kZEePtLb9ticdbe22eb7
CF_ACCOUNT_ID=c6fffd6f6f9a1df66caa886fb07fd07d

# Browserless
BROWSERLESS_TOKEN=2UE6kEHUkn0qLKta2cb1e095955529b68f7312b55184677d6
